<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2020</h1>
<h1 style="font-size: 250%;">Problem Set #2</h1>
<h1 style="font-size: 200%;">Version 1.1</h1>
<h1>Issued Thursday 9/3/2020; Due Thursday 9/17/2020</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be accepted, but your lowest problem-set grade will be dropped. Feel free to get help from others, but the work you submit in should be your own.

In [1]:
# Do not make any edits in this cell!
class Student:
    first = "Wayne"
    last = "Ji"
    onyen = "rawreon"
    pid = "730168641"

In [1]:
import iSQL

In the following questions you are asked to write a single SQL query to find the requested results from a database derived from the demographic, COVID-19, and hospital data used in Problem set #1. The database has the following tables:
<table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="7" style="text-align:center; background-color: skyblue;">Demograpics</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>year</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>race</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>sex</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>agelo</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">agehi</td>
                <td style="border-collapse: collapse; border: 1px solid black;">count</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="5" style="text-align:center; background-color: skyblue;">County</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">region</td>
                <td style="border-collapse: collapse; border: 1px solid black;">cog</td>
                <td style="border-collapse: collapse; border: 1px solid black;">msa</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="4" style="text-align:center; background-color: skyblue;">Covid19</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>date</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">cases</td>
                <td style="border-collapse: collapse; border: 1px solid black;">death</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        <tr style="border:none;">
            <td colspan="6" style="border:none;">&nbsp;</td>
        </tr>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;"  colspan="3">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="8" style="text-align:center; background-color: skyblue;">Hospital</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>hid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">city</td>
                <td style="border-collapse: collapse; border: 1px solid black;">beds</td>
                <td style="border-collapse: collapse; border: 1px solid black;">icu</td>
                <td style="border-collapse: collapse; border: 1px solid black;">discharges</td>
                <td style="border-collapse: collapse; border: 1px solid black;">patientdays</td>
                <td style="border-collapse: collapse; border: 1px solid black;">revenue</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="3">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="3" style="text-align:center; background-color: skyblue;">HospitalCounty</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>hid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">incounty</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        </tbody></table>

An <a href="http://csbio.unc.edu/mcmillan/Media/NCCOVID19.db" download>example database</a> and the interactive SQL parser (<a href="http://csbio.unc.edu/mcmillan/Media/iSQL.py" download>iSQL.py</a>) are provided for experimentation. You will need to copy iSQL.py into the same Jupyter Hub directory as the notebook for this problem set and invoke it as follows:

    import iSQL
    
    query = iSQL.parser("NCCOVID19.db")
    

Make sure that you copy your SQL query into the cell provided for your answer. Only that cell will be graded.
***Warning***, if your query appears to give the correct result for the given database, that does not mean that it is correct. A correct query must give the requested result for *any* and *all* valid instances of the given database schema.

---
**Problem 1:** Generate a table with the name, population, and region of all North Carolina counties in 2020.

SELECT C.name, C.region, SUM(D.count) 
FROM County C, Demographics D
WHERE D.year = 2020 AND C.fips=D.fips
GROUP BY D.fips

---
**Problem 2:** Generate a table with the name and number of hospital beds found in each North Carolina county.

SELECT C.name, SUM(H.beds) 
FROM County C, Hospital H, HospitalCounty HC
WHERE C.fips = HC.fips and H.hid= HC.hid
GROUP BY C.fips

---
**Problem 3:** . Generate a table with each North Carolina County and the date of its first confirmed COVID-19 case.

SELECT C.name, min(CO.date) 
FROM County C, Covid19 CO
WHERE C.fips = CO.fips and CO.cases > 0
GROUP BY C.fips

---
**Problem 4:** Generate a list of all Hospital names and North Carolina Counties in which there is more than one hospital.

SELECT H.name, C.name
FROM Hospital H, County C, HospitalCounty HC,

(SELECT fips, count(fips)
FROM HospitalCounty
WHERE incounty = 1
GROUP BY fips
HAVING count(fips)>1) as T

WHERE C.fips = HC.fips and H.hid= HC.hid and C.fips= T.fips and HC.incounty = 1

---
**Problem 5:** Generate a sorted list, from high to low, of North Carolina county ratios of residents in the age range of 25 to 45 to their total population in 2020. The output should include the county's name, 25-45 population, and ratio.

SELECT C.name, SUM(D.count), SUM(D.count)*1.0 / T.total_population AS ratio
FROM Demographics D, County C,

(SELECT D2.fips AS id, SUM(D2.count) AS total_population
FROM Demographics D2
WHERE D2.year=2020
GROUP BY D2.fips) AS T

WHERE D.agelo >= 25 and D.agehi <= 45 and D.year = 2020 
and T.id=D.fips AND C.fips = D.fips
GROUP BY D.fips

ORDER BY ratio DESC

---
**Problem 6:** Generate a sorted list, from high to low, of the largest increase in North Carolina county ratios of residents in the age range of 25 to 45 to their total population in 2020 when compared to 2000. The output should include the county's name, 25-45 population ratio in 2020, and delta of ratio change.

SELECT C.name, T.age_population * 1.0/ SUM(D.count) AS ratio_in_2020, (T.age_population * 1.0/ SUM(D.count) ) - OLD.ratio as delta
FROM Demographics D, County C,

    (SELECT sum(D2.count) as age_population, C.fips, D2.year
    FROM Demographics D2, County C 
    WHERE D2.fips = C.fips and D2.year = 2020 and D2.agelo >= 25 and D2.agehi <=45
    GROUP BY D2.fips) as T,

    (SELECT C.fips, T.age_population * 1.0/ SUM(D.count) AS ratio
    FROM Demographics D, County C,

        (SELECT sum(D2.count) as age_population, C.fips, D2.year
        FROM Demographics D2, County C 
        WHERE D2.fips = C.fips and D2.year = 2000 and D2.agelo >= 25 and D2.agehi <=45
        GROUP BY D2.fips) as T

    WHERE D.fips = C.fips and D.year = 2000 and T.fips = D.fips
    GROUP BY D.fips) as OLD


WHERE D.fips = C.fips and D.year = 2020 and T.fips = D.fips and OLD.fips = D.fips
GROUP BY D.fips
ORDER BY delta DESC

---
**Problem 7:** For each county, find the single day with the most COVID-19 deaths reported. Generate a list of each county, date, and the number of deaths.

SELECT C.name, CO.date, max(CO.deaths)
FROM County C, Covid19 CO
WHERE C.fips = CO.fips
GROUP BY CO.fips

---
**Problem 8:** On what single day were the most North Carolina COVID-19 deaths reported in the given reporting interval? For that day generate a list of each county, date, and the number of deaths. Include all counties, even those that did not report a death on the given date.

SELECT C.name, IFNULL(O.date,T2.date) as date, IFNULL(O.deaths,0) as deaths
FROM County C,
 (SELECT date, sum(deaths) as sum
                FROM Covid19
                GROUP BY date
                ORDER BY sum DESC
                LIMIT 1) as T2
LEFT JOIN (SELECT C.fips, CO.date as date, CO.deaths as deaths
            FROM County C, Covid19 CO,
                (SELECT date, sum(deaths) as sum
                FROM Covid19
                GROUP BY date
                ORDER BY sum DESC
                LIMIT 1) as T
            WHERE C.fips = CO.fips and CO.date = T.date) as O
ON O.fips = C.fips

---
**Problem 9:** Generate a list of North Carolina counties where white females of voting age (&ge; 18 years old) are the largest voting age demographic in *2020*. *In your report, provide multiple rows for each county of voting age residents broken down by race and sex. You should only include rows for countys in which the largest voting demographic is white and female.*

SELECT C.name, D.race, D.sex, sum(D.count)
FROM County C, Demographics D, 
(SELECT P.name, P.fips
FROM 
    (Select T.fips,C.name, T.race, T.sex, max(T.pop) as max_pop
    FROM County C, Demographics D, 
        (SELECT C.fips, D.race, D.sex, sum(D.count) as pop
        FROM County C, Demographics D
        WHERE C.fips = D.fips and D.year = 2020 and D.agelo >= 18
        GROUP BY C.fips, D.race, D.sex
        ORDER BY sum(D.count) desc) as T
    WHERE C.fips = D.fips and C.fips = T.fips
    Group By C.fips) as P
WHERE P.race = 'white' and P.sex = 'female') as Z
WHERE C.fips = D.fips and C.fips = Z.fips and D.agelo >= 18 and D.year = 2020
Group By C.fips, D.race, D.sex

---
**Problem 10:** What is the difference in total population between the age group from 45 to 54 in 2020 and the age group from 25 to 34 in *2000* for each county? Your output should be a list of counties and differences sorted from smallest (could be negative) to largest.

SELECT C.name, T.old_group - P.young_group as difference
FROM County C,

    (SELECT C2.fips, sum(D2.count) as old_group
    FROM Demographics D2, County C2
    WHERE D2.fips = C2.fips and D2.agelo >= 45 and D2.agehi <=54 and D2.year = 2020
    GROUP BY C2.fips) as T,
    
    (SELECT C3.fips, sum(D3.count) as young_group
    FROM Demographics D3, County C3
    WHERE D3.fips = C3.fips and D3.agelo >= 25 and D3.agehi <=34 and D3.year = 2000
    GROUP BY C3.fips) as P
    
WHERE C.fips = T.fips and C.fips = P.fips
ORDER BY difference

---
**Problem 11:** What 10 counties have the highest percentage of residents over 65 years of age in *2020*? Provide both the county's name and percentage.

SELECT C.name,T.population_over_65 *100.0/ sum(D.count) as percentage_of_pop_over_65
FROM Demographics D, County C,

    (SELECT C2.fips, sum(D2.count) as population_over_65
    FROM Demographics D2, County C2
    WHERE D2.fips = C2.fips and D2.agelo >= 65 and D2.year = 2020
    GROUP BY C2.fips) as T
    
WHERE D.fips = C.fips and C.fips = T.fips and D.year = 2020
Group BY C.fips
ORDER BY percentage_of_pop_over_65 DESC
LIMIT 10

---
**Problem 12:** What counties in North Carolina do not have a hospital? Provide each county's name, population, and non-white population percentage in *2020*.

SELECT C.name, sum(D.count) as total_pop, IFNULL(T.non_white_pop,0) * 100.0 / sum(D.count) as non_white_percentage
FROM County C, Demographics D,

    (SELECT fips
    FROM County C
    WHERE C.fips NOT IN
    (SELECT DISTINCT fips
    FROM HospitalCounty
    WHERE incounty = 1)) AS P

LEFT JOIN

    (SELECT fips, sum(count) as non_white_pop
        FROM Demographics
        WHERE race <> 'white' and year = 2020
        GROUP BY fips) as T
        
ON C.fips = T.fips
WHERE C.fips = P.fips and C.fips = D.fips and D.year = 2020
GROUP BY C.fips

---
**Problem 13:**  Which counties had the highest ratio of COVID-19 cases to hospital-bed capacity? Do not consider counties that do not have a hospital and hopitals that have no beds. Output the county's name, its cases-to-bed ratio, and the day it occured.

SELECT C.name, T.date, T.max*1.0/P.beds as cases_to_beds_ratio
FROM County C, 

(SELECT C.fips, CO.date, max(CO.cases) as max
FROM County C, Covid19 CO
WHERE C.fips = CO.fips and CO.cases >= 1
GROUP BY C.name) AS T,

(SELECT C.fips, sum(H.beds) as beds
FROM County C, Hospital H,  HospitalCounty HC
WHERE C.fips = HC.fips and H.hid = HC.hid and H.beds > 0 and HC.incounty = 1
GROUP BY C.fips) AS P

WHERE C.fips = T.fips and C.fips = P.fips

---
**Problem 14:** Give a breakdown of COVID-19 cases, deaths, and hospitals by geographic region. For each of the geographic regions output the accumulated sum of COVID-19 cases and deaths since January 22, 2020, as well as the number of hospital beds in that region.

Select C.region, T.sum_cases, T.sum_deaths, P.beds
FROM County C, 

    (SELECT C.region, sum(CO.cases) as sum_cases, sum(CO.deaths) as sum_deaths
    FROM County C, Covid19 CO
    WHERE C.fips = CO.fips and  CO.date > '2020-01-22'
    GROUP BY C.region) as T,

    (SELECT C.region, sum(H.beds) as beds
    FROM County C, HospitalCounty HC, Hospital H
    WHERE C.fips = HC.fips and H.hid = HC.hid and HC.incounty = 1
    GROUP BY C.region) as P
WHERE C.region = T.region and C.region = P.region
GROUP BY C.region

---
**Problem 15:** On your own, use the web to find the number of ICU beds in one of the hospitals in the given database that is currently reported to be 0 in our database. Write a SQL UPDATE command that sets this value to the one you discovered.

UPDATE Hospital
SET beds = 197
WHERE hid = 1080

---
**Problem 16:** Find one of the counties that has no hospital. On your own, use the web to find a nearby hospital in a bordering NC county. Write an INSERT command that inserts this hospital into the HospitalCounty table to indicate that this hospital serves a county where it is not located.

INSERT INTO HospitalCounty (hid,fips,incounty)
VALUES (1101,37127,0)

---
**Problem 17:** New confirmed COVID-19 cases and deaths are reported daily. On your own, use the web to find the number of confirmed cases and deaths for some county not provided in the database. Write an INSERT command to add this new county and date to the COVID-19 table.

INSERT INTO Covid19 (fips,date,cases,deaths)
VALUES (37183,'2020-09-19', 1229, 28)

---
**Problem 18:** In the given database the numbers of COVID cases and deaths are not broken down according to sex. Assume that this data becomes available. Write *one or more* ALTER TABLE commands that include separate counts for confirmed cases and deaths according to sex, with the assumption that the total case counts includes both sexes as well as cases where the sex was not reported.

ALTER TABLE Covid19
ADD m_cases integer(255);
ALTER TABLE Covid19
ADD f_cases integer(255);
ALTER TABLE Covid19
ADD non_reported_cases integer(255);
ALTER TABLE Covid19
ADD m_deaths integer(255);
ALTER TABLE Covid19
ADD f_deaths integer(255);

---
**Problem 19:** Specify a CHECK that enforces that the sex-specific case and death counts are always &le; to the total counts based on your modified table from problem 18. *(this was part of problem 18 in V1.0)*

CHECK(cases>=m_cases and 
        cases >= f_cases and 
        cases >= not_reported_cases and 
        deaths >= m_deaths and 
        deaths >= f_cases)

---
**Problem 20:** Generate a list of all hosptials such that the county where they are located appears in their name. *(this was problem 19 in V1.0)*

SELECT H.name
FROM Hospital H, County C, HospitalCounty HC
WHERE H.hid = HC.hid and C.fips = HC.fips and HC.incounty = 1 and H.name LIKE '%' || C.name || '%'

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly.