<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2019</h1>
<h1 style="font-size: 250%;">Midterm Exam</h1>
<h1>Tuesday October 6, 2020</h1>
</div>

**Instructions:** Answer all questions using the cells provided. Feel free to add additional cells to your notebook, but there is no guarantee that they will be considered when grading. If any question seems unclear or appears to lack sufficient information, state a reasonable assumption in the cell provided for your answer and proceed.

You can use any notes, books, or on-line materials to aid when answering your questions, so long as they do not involve communication with any other person.

In [1]:
# Please verify the following signature data. Fix any value that is incorrect
class Student:
    first = "Wayne"
    last = "Ji"
    onyen = "rawreon"
    pid = "730168641"

---
The following questions refer to the Covid-19 database used in Problem sets #1 and #2. The database has the following tables:
<table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="7" style="text-align:center; background-color: skyblue;">Demograpics</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>year</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>race</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>sex</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>agelo</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">agehi</td>
                <td style="border-collapse: collapse; border: 1px solid black;">count</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="5" style="text-align:center; background-color: skyblue;">County</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">region</td>
                <td style="border-collapse: collapse; border: 1px solid black;">cog</td>
                <td style="border-collapse: collapse; border: 1px solid black;">msa</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="4" style="text-align:center; background-color: skyblue;">Covid19</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>date</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">cases</td>
                <td style="border-collapse: collapse; border: 1px solid black;">death</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        <tr style="border:none;">
            <td colspan="6" style="border:none;">&nbsp;</td>
        </tr>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;"  colspan="3">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="8" style="text-align:center; background-color: skyblue;">Hospital</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>hid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">city</td>
                <td style="border-collapse: collapse; border: 1px solid black;">beds</td>
                <td style="border-collapse: collapse; border: 1px solid black;">icu</td>
                <td style="border-collapse: collapse; border: 1px solid black;">discharges</td>
                <td style="border-collapse: collapse; border: 1px solid black;">patientdays</td>
                <td style="border-collapse: collapse; border: 1px solid black;">revenue</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="3">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="3" style="text-align:center; background-color: skyblue;">HospitalCounty</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>hid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">incounty</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        </tbody></table>

This <a href="http://csbio.unc.edu/mcmillan/Media/NCCOVID19.db" download>example database</a> is available to download.

---
**Problem #1:** Add a new table to the Covid-19 database for "ZipCodeTabulationArea", that includes a county *fips* identifier, a post office *zipcode*, a *year*, and an integer *population*. Note that zipcodes can span multiple counties, and counties can have multiple zipcodes. Also, every county falls within at least one ZCTA. The US Census Bureau reports its counts according to Zip Code Tabulation Areas, ZCTAs. ZCTAs are generally more fine-grain than counties, particularly, within densely populated urban areas (i.e. NC has over 1000 zipcodes but only 100 counties). Recently, the NC department of health has begun reporting COVID-19 cases by zipcode using ZCTAs.

<table style="border-collapse: collapse; border: 1px solid black;"><tbody>
<tr style="border-collapse: collapse; border: 1px solid black; background: skyblue;">
    <th colspan="4" style="text-align:center;">ZipCodeTabulationArea</th></tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">fips</td>
    <td style="border-collapse: collapse; border: 1px solid black;">zipcode</td>
    <td style="border-collapse: collapse; border: 1px solid black;">year</td>
    <td style="border-collapse: collapse; border: 1px solid black;">population</td>
</tr>
</tbody></table>
   
In the space provided below give a SQL statement to create such a table. Include types for all attributes, default values, any necessary intra-table integrity constraints, and any foreign keys.

CREATE TABLE ZipCodeTabulationArea {
    fips int,
    zipcode int,
    year date,
    population int,
    PRIMARY KEY P_KEY (fips,zipcode),
    FOREIGN KEY (fips)
}

---
**Problem #2:** In the space below write a single SQL query that uses the table described in **Problem #1** to generate every county's population computed by summing all demographic groups to the same county's population reported by summing all Zip Code Tabulation Areas. Your result should be a list of tuples with the following attributes: the county's name, its population across all demographics groups, and its population by ZCTAs.

SELECT C.name, sum(D.count), T.pop_by_ZCTA
FROM County C, Demographics D,
(SELECT fips, sum(population) as pop_by_ZCTA
FROM ZipCodeTabulationArea
GROUP BY zipcode) as T
WHERE C.fips = D.fips and D.fips = T.fips
Group By D.fips

---
**Problem #3:** Write a single SQL statement that outputs (in the given order) the names, regions, and metropolitan areas of all counties that include "Charlotte" in their metropolitan area.

SELECT name, region, msa
FROM COUNTY
WHERE MSA LIKE '%Charlotte%'

---
**Problem #4:** Write a single SQL statement that outputs (in the given order) the names of counties with a 2020 preschool population (age <=5) of 20000 or more and the number of residents in the qualifying demographic.

Select C.name, T.precount
FROM Demographics D, County C,
(SELECT fips, sum(count) as precount
FROM Demographics
WHERE year = 2020 and agelo <= 5 
Group By fips) as T
Where C.fips = D.fips and D.fips = T.fips and D.year = 2020 and T.precount >= 20000
Group By D.fips

---
**Problem #5:** Consider the following two SQL queries:
<pre>
    SELECT DISTINCT deaths       -- Query 1
    FROM Covid19</pre>

<pre>
    SELECT DISTINCT MAX(deaths)  -- Query 2
    FROM Covid19
    GROUP BY date</pre>
    
In the space below answer the following questions:
* How many rows are returned by Query 1?
* How many rows are returned by Query 2?
* Provide a short explaination of the semantic differences between these *queries*

Number of rows returned by Query 1: 15
Number of rows returned by Query 2: 15
Enter your explaination below: Query 1 creates a table that contains a copy of each number of deaths that appears in Covid19, while Query 2 creates a table that contains a copy of each number of maximum deaths for each date, putting all the values of the same date in one group.

Methods from the <code>datetime</code> Python package might be useful for the following problem. In particular, the ability to convert ISO formatted date strings, like those used for sqlite's DATE type to a proleptic Gregorian ordinal day (i.e. a integer for each sequential date where '0001-01-01' is 1). Shown below are examples of how to convert between ISOdates to ordinals.

```python
import datetime

date = datetime.date.fromisoformat("2020-10-06")            # loads a "date" type into a date object 
ordDay = date.toordinal()                                   # returns the ordinal day
isoDate = datetime.date.fromordinal(ordDay).isoformat()     # converts an ordinal day to a "date" type
print(ordDay, isoDate)

for ordDay in [1,730120,737704,737732,2000000]:             # assorted ordinal dates
    print(datetime.date.fromordinal(ordDay).isoformat())
```

Which produces the following output:
```
737704 2020-10-06
0001-01-01
2000-01-01
2020-10-06
2020-11-03
5476-10-24
```

---
**Problem #6:** As the DBA for NCCOVID19.db you decide that it is annoying that between the date of the first reported Covid-19 in North Carolina to the last reported date in the database, there exist a few days for which *no county* has a report. To remedy this problem you decide to INSERT records for those missing days using the "UNKNOWN" county (fips = 0) with 0 cases and 0 deaths. Use the following template to implement this function. Place all of your code within the function's body replacing the "# Put your code here" comment. Notice that the db.commit() function has been commented out. You should leave it that way, which will allow you to call the function several times. Your function should return a list of ISOformatted date strings for which there were no Covid-19 records.

```python
import datetime
import sqlite3

def covidMissingDates():
    dates = []
    db = sqlite3.connect("NCCOVID19.db")
    db.row_factory = sqlite3.Row
    db.text_factory = str
    cursor = db.cursor()
    # Put your code here
    # db.commit()       # commented out to aid debugging
    db.close()
    return dates
```

In [1]:
import datetime
import sqlite3

def covidMissingDates():
    dates = []
    db = sqlite3.connect("NCCOVID19.db")
    db.row_factory = sqlite3.Row
    db.text_factory = str
    cursor = db.cursor()
    cursor.execute("""
    INSERT INTO Covid19 (fips,date,cases,death)
    VALUES (0 , , 0, 0)
    """)
    # db.commit()
    db.close()
    return dates

Consider the following B<sup>+</sup>Tree with a height of 2 that indexes 10 records using an integer search key:
<div align="center"><img src="http://www.csbio.unc.edu/mcmillan/Media/BplusTreeF20.png" width="636px"></div>

---
**Problem #7:** What will be the contents of the left-most leaf of the resulting B<sup>+</sup> tree if a new record with a search key of 8 is added? What is the height of the resulting tree?

First answer: 2
Second answer: 3

---
**Problem #8:** Assuming steering and leaf page nodes with the same number of search keys as shown in the example B<sup>+</sup> tree above, what is the largest number of records that could indexed by a tree with a height of 4 assuming there is only one key in the root node?

192

---
**Problem #9:** Give a brief explaination of the differences between the two following SQL commands:
<pre>SELECT * FROM Demographics WHERE year=2020 GROUP BY fips HAVING SUM(count)>50000</pre>
and
<pre>SELECT * FROM Demographics WHERE year=2020 GROUP BY fips,race HAVING SUM(count)>50000</pre>

Your answer should apply to *any* instance of the same schema, not any specific version.

The second query puts all the values with the same fips and race into one group, while the first one only puts the values with the same fips into a group.

---
**Problem #10:**. The following table gives actual statistics for an instance of the NCCOVID19 database with the given schema. For each table in the database it gives the total number of 4096 byte blocks, the total number of records in the table, and the number of unused bytes in all table pages.

| table / index	| pages	| records	| unused bytes |
| ----- | --------- | --------- | ----------- |
| Demographics	| 2240	| 283138	| 38529 |
| County	| 3	| 100	| 3243 |
| Covid19	| 75	| 11215	| 38954 |
| Hospital	| 2	| 108	| 1625 |
| HospitalCounty	| 1	| 115	| 2593 |

Which table has the highest page utilization percentage? Also, provide your estimate of the utilization percentage for that table?

Answer 1: Hospital County
Answer 2: 63%

Save a copy of your Midterm notebook and then click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=Exam.upload) turn in your Examination