# Chapter 5. SQL Queries

## Basic SQL Query

**select** [**distinct**] _target-list_  
**from** _relation-list_  
**where** _qualification_

_target-list_: A list of attributes of relations in _relation-list_

_relation-list_: A list of relation names (possibly with a _range-variable_ after each name)

_qualification_: Comparisons such as Attr = Const or Attr1 = Attr2 combined with **and**, **or**, **not**.

**distinct**: is an optional keyword indicating that the answer should not contain duplicates. Default is that duplicates are _not_ eliminated.

## Conceptual Evaluation Strategy

Semantics of an SQL query defined in terms of the following conceptual evaluation strategy:

1. Compute the cross-product ($\times$) of the _relation-list_.
2. Select ($\sigma$) tuples that satisfy _qualifications_.
3. Project ($\pi$) attributes that are in the _target-list_.
4. If **distinct** is specified, eliminate duplicate rows.

This strategy is probably the least efficient way to compute a query but the optimizer should find more efficient ways to compute the same answers.

## Setup for live examples

This document is an Jupyter Notebook (or a static HTML page generated from it). This way we can try live examples in class and you can play with them afterward.

First we'll do some setup of the python environment.

In [ ]:
from sqlite3 import connect

Create the db in memory for playtime, we'd use a file to get persistence.

In [ ]:
conn = connect(":memory:")
cursor = conn.cursor()

Construct some tables

In [ ]:
cursor.execute('''drop table if exists Sailors''')
cursor.execute("""
    create table Sailors 
        (sid integer primary key, 
         sname text, 
         rating integer, 
         age real)
""")
sailors = [(22, 'Dustin', 7, 45.0),
           (29, 'Brutus', 1, 33.0),
           (31, 'Lubber', 8, 55.5),
           (32, 'Andy', 8, 25.5),
           (58, 'Rusty', 10, 35.0),
           (64, 'Horatio', 7, 35.0),
           (71, 'Zorba', 10, 16.0),
           (74, 'Horatio', 9, 35.0),
           (85, 'Art', 3, 25.5),
           (95, 'Bob', 3, 63.5)]
for sailor in sailors:
    cursor.execute("insert into Sailors values (?, ?, ?, ?)", sailor)

In [ ]:
cursor.execute("""
create table Boats
    (bid integer primary key, 
     bname text, 
     color text)
""")
boats = [(101, "Interlake", "blue"),
         (102, "Interlake", "red"),
         (103, "Clipper", "green"),
         (104, "Marine", "red")]
for boat in boats:
    cursor.execute("insert into Boats values (?, ?, ?)", boat)

In [ ]:
cursor.execute("""
create table Reserves 
    (sid integer, 
     bid integer, 
     day text, 
     primary key (sid, bid, day) 
     foreign key (sid) references Sailors
     foreign key (bid) references Boats)
""")
reserves = [(22, 101, '10/10/98'),
            (22, 102, '10/10/98'),
            (22, 103, '10/8/98'),
            (22, 104, '10/7/98'),
            (31, 102, '11/10/98'),
            (31, 103, '11/6/98'),
            (64, 101, '9/5/98'),
            (64, 102, '9/8/98'),
            (74, 103, '9/8/98')]
for reserve in reserves:
    cursor.execute("insert into Reserves values(?, ?, ?)", reserve)

## Example Conceptual Evaluation Strategy

Now let's examine the conceptual evaluation strategy applied to this query:

    select S.sname
    from Sailors S, Reserves R
    where  S.sid=R.sid and R.bid=103

First do the cross-product

In [ ]:
cursor.execute("""
select * from Sailors S, Reserves R
""")
for row in cursor:
    print(row)

Then select the rows that satisfy the qualifications.

In [ ]:
cursor.execute("""
select * 
    from Sailors S, Reserves R
    where S.sid=R.sid and R.bid=103
""")
for row in cursor:
    print(row)

Then project attributes that are in the target list.

In [ ]:
cursor.execute("""
select S.sname from Sailors S, Reserves R
    where S.sid=R.sid and R.bid=103
""")
for row in cursor:
    print(row)

## Find sailors who've reserved at least one boat.

In [ ]:
cursor.execute("""
select distinct S.sid 
    from Sailors S, Reserves R
    where S.sid=R.sid
""")
for row in cursor:
    print(row)

would removing the **distinct** make a difference?

In [ ]:
cursor.execute("""
select S.sid 
    from Sailors S, Reserves R
    where S.sid=R.sid""")
for row in cursor:
    print(row)

Why are there repeated records without distinct?

## Expressions and Strings

In [ ]:
cursor.execute("""
select S.age,S.age-5 as age1, 2*S.age as age2
    from Sailors S
    where S.sname like '_us%'
""")
for row in cursor:
    print(row)

Illustrates use of arithmetic expressions and string pattern matching: _Find triples (of ages of sailors and two fields defined by expressions) for sailors whose names begin with any letter followed by 'us'._

**as** renames fields in result. (Some SQL implementations allow the use of ‘newalias=expr‘ as well)

**like** is used for string matching. “_” stands for any one character and “%” stands for 0 or more arbitrary characters.

## Find sid's of sailors who've reserved a red or a green boat
Solution 1: Use _or_ in the **where** clause.

In [ ]:
cursor.execute("""
select distinct S.sid
from Sailors S, Boats B, Reserves R
where S.sid=R.sid and R.bid=B.bid and
      (B.color='red' or B.color='green')
""")
for row in cursor:
    print(row)

Solution 2: Use Union.

In [ ]:
cursor.execute("""
select S.sid 
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and B.color='red'
    
union

select S.sid 
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and B.color='green'
""")
for row in cursor:
    print(row)

What do we get if we replace union with except?

In [ ]:
cursor.execute("""
select S.sid 
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and B.color='red'
    
except

select S.sid 
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and B.color='green'
""")
for row in cursor:
    print(row)

Let's break that down into the clauses.

First the red clause.

In [ ]:
cursor.execute("""
select S.sid 
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and B.color='red'
""")
for row in cursor:
    print(row)

Then the green clause.

In [ ]:
cursor.execute("""
select S.sid 
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and B.color='green'
""")
for row in cursor:
    print(row)

## Find sid's of sailors who've reserved a red and a green boat
Attempt 1: Simply replace the **or** with **and**.

In [ ]:
cursor.execute("""
select S.sid 
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and
    (B.color='red' and B.color='green')""")
for row in cursor:
    print(row)

Why no result above? 

Solution 1: Multiple instancing.

In [ ]:
cursor.execute("""
select distinct S.sid
    from Sailors S, Boats B1, Reserves R1, Boats B2, Reserves R2
    where S.sid=R1.sid and R1.bid=B1.bid and B1.color='red' and
          S.sid=R2.sid and R2.bid=B2.bid and B2.color='green'
""")
for row in cursor:
    print(row)

Solution 2: Intersect. Note its symmetry with the union version above.

In [ ]:
cursor.execute("""
select S.sid
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and B.color='red'
    
intersect

select S.sid
    from Sailors S, Boats B, Reserves R
    where S.sid=R.sid and R.bid=B.bid and B.color='green'
""")
for row in cursor:
    print(row)

## Nested Queries
Find names of sailors who've never reserved boat 103

In [ ]:
cursor.execute("""
select S.sid, S.sname
    from Sailors S
    where S.sid not in 
        (select R.sid 
         from Reserves R 
         where R.bid=103)
""")
for row in cursor:
    print(row)

*A very powerful feature of SQL*: a WHERE clause can itself contain a query!
To find sailors who've reserved boat 103 use IN.
To understand the semantics of nested queries, think of a _nested loops_ evaluation: For each Sailors tuple, check the qualification by computing the subquery.

## Nested Queries with Correlation
Find names of sailors who've reserved any boat

In [ ]:
cursor.execute("""
select S.sname
    from Sailors S
    where exists (select *
                  from Reserves R
                  where S.sid=R.sid)
""")
for row in cursor:
    print(row)

**Exists** is another set comparison operator, like **in**. This example illustrates why, in general, a subquery must be re-evaluated for each Sailors tuple.

## Rewriting intersect queries using IN

Find sid's of sailors who've reserved both a red and a green boat.

In [ ]:
cursor.execute("""
select distinct S.sid
from  Sailors S, Boats B, Reserves R
where  S.sid=R.sid and R.bid=B.bid and B.color='red'
    and S.sid in 
        (select S2.sid
            from Sailors S2, Boats B2, Reserves R2
            where S2.sid=R2.sid and R2.bid=B2.bid
                  and B2.color='green')
""")
for row in cursor:
    print(row)

Similarly, **except** queries re-written using **not in**.

To find _snames_ (not sid's) of Sailors who've reserved both red and green boats, just replace S.sid by S.sname in **select** clause. What about the **intersect** query above? Would that strategy work there?

## Division in SQL

Find sailors who've reserved all boats.

In [ ]:
cursor.execute("""
select S.sname
from Sailors S
where not exists
    (select b.bid
     from Boats B
     except
     select R.bid
     from Reserves R
     where R.sid=S.sid)
""")
for row in cursor:
    print(row)

The hard way, without **except**.

In [ ]:
cursor.execute("""
select s.sname
from Sailors S
where not exists
    (select B.bid
     from Boats B
     where not exists
         (select R.bid
          from Reserves R
          where R.bid=B.bid
              and R.sid=S.sid))
""")
for row in cursor:
    print(row)

_Sailors S such that ...  
there is no Boat B without ...  
a Reserves R tuple showing S reserved B_